<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kjh_portpolio1">

    <!-- 인터넷 권한 요청 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--바코드 권한 요청 -->
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <!-- 카메라 권한 요청 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 위치 정보 엑세스 권한 요청 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 센서 사용 권한 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <!-- 가속도계 센서 - 진동, 운동가속을 감지하는 기능 사용 (QR_code 페이지) -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>

    <!-- 저장 기능 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kjh_portpolio1"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 자격증 페이지 -->
        <activity android:name=".License.License"/>

    </application>

</manifest>